.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: background 0.5s ease;
}

.input {
	border: none;
	width: 100%;
	font-size: 6em;
	font-family: inherit;
	text-align: center;
	mix-blend-mode: difference;
	font-weight: 900;
	padding: 0.1em 0;
	-webkit-appearance: none;
}

.input:focus {
	outline: none;
}

.output {
	color: white;
	width: 100%;
	font-size: 5em;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0;
	font-weight: 900;
	word-wrap: break-word;
}

.output span {
	mix-blend-mode: difference;
}

.output .search {
	mix-blend-mode: normal;
}

.search {
	transition: color 0.5s ease;
}

.index {
	color: white;
	width: 100%;
	font-size: 2em;
	text-align: center;
	margin-top: 0.75em;
	margin-bottom: 0;
	word-wrap: break-word;
}

.index span {
	mix-blend-mode: difference;
}

.index .search {
	mix-blend-mode: normal;
}
